* {
    box-sizing: border-box;
}

body {
    margin: 16px;
    text-align: center;
    font-family: sans-serif;
}

.meme-container {
    margin-top: 16px !important;
    max-width: 450px;
    margin: 0px auto;
    box-shadow: 0 0 16px 10px lightgray;
    padding: 20px;
    border-radius: 8px;
}

.meme-title{
    margin-top: 0;
    font-size: 24px;
}

.author{
    margin-bottom: 0;
}

button {
    border: none;
    font: inherit;
    background-color: #00b0ff;
    color:white;
    width: 100%;
    max-width: 450px;
    border-radius: 8px;
    padding: 12px 16px;
}

button:active {
    background-color: #039be5;
    letter-spacing: 1px;
    word-spacing: 1px;
}

img {
    width: 100%;
    border-radius: 8px;
}